body {
    background-color: #a3d5d3;
    width: 600px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0 auto;
    padding: 20px;
  }
  
  div.content {
    /* 要素をはみ出さない */
    width: 600px;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: break-all;
    overflow: visible;
  }
  
  table, input {
   margin: 5px;
  }
  
  input[type=text] {
   width: 120px;
  }
  
  table {
    width: 550px;
  }
  
  table,tr,th,td {
    font-size: 14px;
    list-style-type: none;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 5px;
  }
  
  td {
    background: #eeeff0;
    padding-left: 12px;
  }